@tailwind base;
@tailwind components;
@tailwind utilities;

.dark body {
  @apply bg-black text-white;
}

.dark h1,
.dark h2,
.dark h3,
.dark p,
.dark span {
  @apply text-white;
}

/* Soft gray text for secondary UI */
.dark .text-muted {
  @apply text-gray-400;
}

/* In your global CSS or Tailwind config */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(107, 114, 128, 0.5); /* gray-500 */
  border-radius: 3px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
